button{
    background-color: blueviolet;
    color: azure;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 3rem;
}
div {
    background-color: rgb(255, 255, 255);
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
}